@use "@/styles/colors.module";
@use "@/styles/fonts";

.btn {
  padding: 10px 15px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: colors.$primary-100;
  border-radius: 10px;
  transition: color ease-out 0.3s;

  color: colors.$light-100;
  text-align: center;
  font-weight: fonts.$wg-medium;
  font-size: min(1rem, 6vw);

  &:hover {
    background-color: colors.$primary-200;
  }
}

.btnTransparent {
  @extend .btn;
  border: 2px solid colors.$light-100;
  background: transparent;
}
