@use "@/styles/utils/colors";
@use "@/styles/utils/fonts";
@use "@/styles/utils/components";

section.container--hero_about {
  max-width: 1200px;
  width: 85%;
  min-height: 85vh;

  // display: flex;
  // justify-content: space-between;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 1rem;

  @media (max-width: 1090px) {
    width: 90%;
  }

  @media (max-width: 890px) {
    width: 100%;
  }

  @media (max-width: 612px) {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column-reverse;
    text-align: center;
  }

  .box--content_text {
    flex: 1;

    h1 {
      @include components.typography(
        fonts.$sz-large-xx,
        colors.$primary-100,
        fonts.$wg-bold
      );

      @media (max-width: 764px) {
        font-size: fonts.$sz-large-x;
      }
    }

    p {
      @include components.typography(
        fonts.$sz-regular,
        colors.$dark-300,
        fonts.$wg-regular
      );

      @media (max-width: 764px) {
        font-size: fonts.$sz-normal;
      }
    }
  }

  img {
    width: 100%;
    height: auto;
    border-radius: 24px;
  }
}
