@use "@/styles/utils/colors";
@use "@/styles/utils/fonts";
@use "@/styles/utils/components";

section.hero_about {
  max-width: 1200px;
  width: 85%;
  min-height: 85vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  .container--content_about {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1rem;

    @media (max-width: 1090px) {
      width: 90%;
    }

    @media (max-width: 890px) {
      width: 100%;
    }

    @media (max-width: 612px) {
      display: flex;
      justify-content: space-evenly;
      flex-direction: column-reverse;
      text-align: center;
    }
  }

  .box--content_text {
    flex: 1;

    h1 {
      @include components.typography(
        fonts.$sz-large-xx,
        colors.$primary-100,
        fonts.$wg-bold
      );

      @media (max-width: 764px) {
        font-size: fonts.$sz-large-x;
      }
    }

    p {
      @include components.typography(
        fonts.$sz-regular,
        colors.$dark-300,
        fonts.$wg-regular
      );

      @media (max-width: 764px) {
        font-size: fonts.$sz-normal;
      }
    }
  }

  img.hero-about {
    width: 100%;
    height: auto;
    border-radius: 24px;
  }

  .scroll_indicator {
    margin-top: 32px;
    width: 55px;
    animation: float 2.4s ease-in-out infinite;
  }

  @keyframes float {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(30px);
    }
  }
}

section.motivation_about {
  width: 100%;
  min-height: 70vh;
  padding: 24px 0;

  display: flex;
  justify-content: center;
  align-items: center;

  .box--motivation {
    max-width: 700px;
    width: 70%;
    padding: 32px;
    margin: 32px 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    border-radius: 42px;
    background-color: colors.$primary-100;

    color: colors.$light-100;
    text-align: center;

    @media (min-width: 802px) {
      box-shadow: 30px 30px 14px 0px colors.$primary-300;
    }

    @media (max-width: 802px) and (min-width: 802px) {
      width: 85%;
    }

    @media (max-width: 600px) {
      width: 100%;
    }

    h2 {
      @include components.typography(
        fonts.$sz-large-x,
        colors.$light-100,
        fonts.$wg-bold
      );
    }

    p {
      @include components.typography(
        fonts.$sz-medium,
        colors.$light-100,
        fonts.$wg-regular
      );
    }

    @media (max-width: 480px) {
      padding: 16px;

      h2 {
        font-size: fonts.$sz-large;
      }

      p {
        font-size: fonts.$sz-normal;
      }
    }
  }
}
