$primary-transparent: #fc4b2f0d;
$primary-100: #fc4b2f;

$secondary-transparent: #2d303942;
$secondary-100: #0c101e;

$light-100: #ffffff;
$light-200: #efefef;

$gray-100: #7f8596;
$gray-200: #5c5c5c;
$gray-300: #363943;

$dark-100: #000000;
$dark-200: #151515;
$dark-300: #343434;

$blue-100: #153cc3;
$red-100: #ef1717;

// :export {
//   primaryTransparentColor: $color-primary-transparent;
//   primaryColor100: $color-primary-100;

//   secondaryTransparentColor: $color-secondary-transparent;
//   secondaryColor100: $color-secondary-100;

//   lightColor100: $color-light-100;
//   lightColor200: $color-light-200;

//   grayColor100: $color-gray-100;
//   grayColor200: $color-gray-200;
//   grayColor100: $color-gray-300;

//   darkColor200: $color-dark-100;
//   darkColor100: $color-dark-200;
//   darkColor200: $color-dark-300;

//   blueColor200: $color-blue-100;
//   redColor200: $color-red-100;
// }
