@use "./utils/colors";
@use "./utils/components";
@import "./utils/reset";
@import "./utils/buttons";

main {
  width: 100%;
  padding: 24px 16px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  background-color: colors.$light-100;
}

#text--primary {
  color: colors.$primary-100;
}

section#container__info {
  width: 80%;

  @media (max-width: 710px) {
    width: 90%;
  }

  @media (max-width: 500px) {
    width: 100%;
  }
}

.scroll-indicator {
  margin-top: 32px;
  width: 55px;
  animation: float 2.4s ease-in-out infinite;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(30px);
  }
}

.icon {
  width: auto;
  height: auto;
}
