$primary-transparent: #fc4b2f0d;
$primary-100: #fc4b2f;
$primary-200: #ff2f0f;
$primary-300: rgba(252, 75, 47, 0.44);

$secondary-transparent: #2d303942;
$secondary-100: #0c101e;

$light-100: #ffffff;
$light-200: #efefef;

$gray-100: #7f8596;
$gray-200: #5c5c5c;
$gray-300: #363943;

$dark-100: #000000;
$dark-200: #151515;
$dark-300: #343434;

$blue-100: #153cc3;
$red-100: #ef1717;
