@use "./colors";

*,
*::after,
*::before,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  font-family: var(--font-poppins);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
}

body,
html {
  background-color: colors.$light-100;
  color: colors.$dark-200;
}

ul,
li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

a {
  color: inherit;
}
