@use "@/styles/utils/colors";
@use "@/styles/utils/fonts";
@use "@/styles/utils/components";

.banner {
  width: 50%;
  height: 90vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;

  text-align: center;
  color: colors.$light-100;

  @media (max-width: 1330px) {
    width: 70%;
  }

  @media (max-width: 965px) {
    width: 100%;
  }

  h1 {
    @include components.typography(
      fonts.$sz-large-xxx,
      colors.$primary-100,
      fonts.$wg-bold
    );
    line-height: 1;
  }

  p {
    @include components.typography(fonts.$sz-medium, fonts.$wg-regular);
  }
}

.search-field {
  width: 80%;
  min-width: max-content;
  margin: 12px 0;

  display: flex;
  align-items: center;

  background-color: colors.$light-100;
  border-radius: 12px;

  @media (max-width: 512px) {
    width: 70%;
  }

  input {
    flex: 1;
    padding: 14px 12px;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
    font-size: fonts.$sz-small-x;
    font-weight: fonts.$wg-medium;

    &::placeholder {
      color: colors.$dark-300;
    }

    &:focus {
      outline: none;
    }
  }

  img {
    margin: 0 10px;

    @media (max-width: 512px) {
      width: 20px;
    }
  }
}

.btn-group {
  display: flex;
  gap: 1.4rem;
}

section.container--cards {
  max-width: 1250px;
  padding: 16px 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  h2 {
    text-align: center;

    @include components.typography(
      fonts.$sz-large-x,
      colors.$primary-100,
      fonts.$wg-bold
    );
  }

  .container-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.3rem;
    align-items: baseline;

    @media (max-width: 940px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 450px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

section.container--box-invite {
  min-height: 45vh;

  display: flex;
  justify-content: center;
  align-items: center;

  .box-invite {
    width: 100%;
    margin: 12px;
    padding: 24px;

    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-around;
    gap: 32px;

    background: linear-gradient(
      135deg,
      rgba(21, 60, 195, 0.35) 0%,
      rgba(23, 127, 185, 0.33) 49.47%,
      rgba(8, 222, 184, 0.11) 100%
    );
    border-radius: 23px;
    box-shadow: 16px 16px 43px 0px rgba(0, 0, 0, 0.35);

    @media (max-width: 600px) {
      margin: 34px 0;
    }

    h2 {
      @include components.typography(
        fonts.$sz-large-x,
        colors.$dark-200,
        fonts.$wg-bold
      );

      @media (max-width: 540px) {
        font-size: fonts.$sz-large;
      }
    }
  }
}
