@use "@/styles/colors.module";

.header {
  width: 100%;
  height: 100vh;
  padding: 16px;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: colors.$light-100;
  color: colors.$gray-100;
}

.backgroundFill {
  background-image: url(/assets/images/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
}

.headerWithBg {
  @extend .header, .backgroundFill;
}

.nav {
  width: 90%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  .links {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    li {
      text-transform: capitalize;
      font-size: min(1.1rem, 8vw);
      font-weight: 500;
      cursor: pointer;

      &:hover {
        color: colors.$primary-100;
      }
    }
  }
}
