@use "@/styles/utils/colors";
@use "@/styles/utils/fonts";
@use "@/styles/utils/components";

.header--main {
  width: 100%;
  height: max-content;
  padding: 16px;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: colors.$light-200;
  color: colors.$gray-200;

  @media (max-width: 374px) {
    padding: 12px;
  }
}

.header--fill {
  @extend .header--main;
  background-image: url(/assets/images/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
}

.header--nav {
  width: 90%;
  height: max-content;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 900px) {
    width: 100%;
  }

  .logo {
    width: 250px;

    @media (max-width: 530px) {
      width: 200px;
    }
  }

  .btn-link {
    @include components.button(colors.$blue-100, colors.$light-100, false);
    padding-left: 18px;
    padding-right: 18px;

    @media (max-width: 770px) {
      display: none;
    }
  }

  .list-links {
    width: 40%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 0.7rem;

    @media (max-width: 1100px) {
      width: 50%;
    }

    @media (max-width: 770px) {
      display: none;
    }

    li {
      position: relative;
      z-index: 1;

      cursor: pointer;
      transition: color 0.4s ease-in-out;

      text-transform: capitalize;

      @include components.typography(
        fonts.$sz-regular,
        inherit,
        fonts.$wg-medium
      );

      &::before {
        content: " ";
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: -0.3em;
        right: -0.3em;

        background-color: colors.$primary-100;
        transform-origin: center right;
        transform: scaleX(0);
        transition: transform 0.4s ease-in-out;
      }

      &:hover {
        color: colors.$secondary-100;

        &::before {
          transform: scaleX(1);
          transform-origin: center left;
        }
      }
    }
  }
}

.btn--burger {
  @media (min-width: 770px) {
    display: none;
  }

  @media (max-width: 770px) {
    display: flex;
  }

  width: 40px;
  height: 30px;

  flex-direction: column;
  justify-content: space-between;

  background-color: transparent;

  span {
    width: 100%;
    height: 4px;
    padding: 1px;
    background-color: colors.$primary-100;
    border-radius: 8px;
  }
}
