@use "@/styles/utils/colors";
@use "@/styles/utils/fonts";
@use "@/styles/utils/components";

.header--main {
  width: 100%;
  height: max-content;
  padding: 16px;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: colors.$light-100;
  color: colors.$gray-200;

  @media (max-width: 374px) {
    padding: 12px;
  }
}

.header--fill {
  @extend .header--main;
  background-image: url("/assets/images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;

  .header__nav .list-links li:hover {
    color: colors.$secondary-100;
  }
}

.header__nav {
  width: 90%;
  height: max-content;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 900px) {
    width: 100%;
  }

  .nav__logo {
    width: 250px;
    height: auto;

    @media (max-width: 530px) {
      width: 200px;
    }
  }

  .btn--support#no-mobile {
    @media (max-width: 770px) {
      display: none;
    }
  }

  .nav__links {
    width: 40%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 0.7rem;

    @media (max-width: 1100px) {
      width: 50%;
    }

    @media (max-width: 770px) {
      display: none;
    }

    li {
      position: relative;
      z-index: 1;

      cursor: pointer;
      transition: color 0.4s ease-in-out;

      text-transform: capitalize;

      @include components.typography(
        fonts.$sz-regular,
        inherit,
        fonts.$wg-medium
      );

      &::before {
        content: " ";
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: -0.3em;
        right: -0.3em;

        background-color: colors.$primary-100;
        transform-origin: center right;
        transform: scaleX(0);
        transition: transform 0.4s ease-in-out;
      }

      &:hover {
        color: colors.$light-100;

        &::before {
          transform: scaleX(1);
          transform-origin: center left;
        }
      }
    }
  }
}

.btn--burger {
  @media (min-width: 770px) {
    display: none;
  }

  @media (max-width: 770px) {
    display: flex;
  }

  width: 40px;
  height: 30px;
  z-index: 2;

  flex-direction: column;
  justify-content: space-between;

  background-color: transparent;
  cursor: pointer;

  span {
    width: 100%;
    height: 4px;
    padding: 1px;
    background-color: colors.$primary-100;
    border-radius: 8px;
  }
}

.container__nav#mobile {
  @media (min-width: 770px) {
    display: none;
  }

  @media (max-width: 770px) {
    display: flex;
  }

  width: 45%;
  height: 100vh;
  padding-top: 15%;
  padding-left: 20px;

  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;

  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;

  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(18px);

  @media (max-width: 618px) {
    width: 62%;
  }

  @media (max-width: 450px) {
    padding-top: 25%;
  }

  @media (max-width: 346px) {
    width: 100%;
    padding-top: 25%;
  }

  .nav__links#mobile {
    width: max-content;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    text-align: right;
  }
}
